/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	font-family: helvetica;
	margin: 50px;
	padding:20px;
	font-size:150%;
}

/*Skip to Main function*/
.skip a{
	position: absolute;
	top: -40px;
	z-index: 1;
	color:black;
}

/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 2em;
	font-weight: bold;
}

.active{
	background: white;
    text-transform: uppercase;
	text-align: center;
}

.active a{
	text-decoration: none;;
}

/*Style the images*/
img{
    height: 175px;
	width:auto;
    border: 3px solid #00ff4c81;
    padding: 25px;
    border-radius: 20px;
    margin: 30px;
}

/*Improve the spacing for paragraphs AND headings*/
p, h1, h2, h3 {
    padding: 10px;
}

/*Add borders around the main components and some
space too*/
nav {border: 2px solid black;
	margin: 20px 0;
}

main{
	border: 2px solid green;
	margin: 20px 0;
}


/*Change the styling for all of the list
items in the nav section*/
nav li{
	background-color: greenyellow;
	padding:10px;
	width:25%;
	border:2px dash black;
	display: inline-block;
	width: 10%;
}

/*Added this so the links stay the same color*/
a:visited{color:#ffd000}

  a.current:link, a.current:visited {
	color: white;
	background-color: rgb(255, 0, 153);
  }
